body{
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.areaLogin-cadastro{
  margin: auto;
  height: 63vh;
  width: 40%;
  border: solid 1px black;
  display: block;
  flex-direction: column;
}

.tituloLogin{
  margin-top: 5vh;
}

.InputDados{
  width: 80%;
  height: 6vh;
  margin-top: 4%;
}

.areaBotoes{
  margin-top: 4vh;
}

.botaoEntrarLogin-cadastro{
  border: solid 1px black; 
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  height: 5vh;
  width: 40%;
  margin-top: 1vh;
}